extends layout

block content
    h1 #{title}: #{genre.name}

    if relatedbooks.length
        p #[strong Delete the following books before attempting to delete this genre.]

        div(style='margin-left:20px;margin-top:20px')
            
            h4 Books

            dl
            each book in relatedbooks
                dt 
                    a(href=book.url) #{book.title}
                dd= book.author.name

    else
        p Are you sure you want to delete this genre ?

        form(method='POST' action='')
            input#genreid(type='hidden', name='genreid', required='true', value=genre._id)
            button.btn.btn-primary(type='submit') Delete